pynput==1.8.1
keyboard==0.13.5
dateparser==1.1.8
pystray==0.19.5
pillow==11.2.1
spacy==3.5.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl